.todo.todo-expand {
    min-height: 145px;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
    position: relative;
    margin-top: 30px;
    .todo-types {
        position: absolute;
        z-index: 10;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        .todo-type {
            &:not(:last-of-type) {margin-right: 25px;}
            width: 18px;
            height: 18px;
            background: #fff;
            border: 1px solid #fff;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: -5px;
                left: -5px;
                width: 26px;
                height: 26px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, .3);
                border-radius: 50%;
            }
            &.note {
                background: linear-gradient(rgba(147, 183, 255, 1), rgba(77, 122, 255, 1));
                border-color: rgba(68, 114, 255, 1);
            }
            &.note.active:before {
                border: 2px solid rgba(74, 128, 255, 1);
                box-shadow: 0 0 1px rgba(74, 128, 255, 1);
            }
            &.important {
                background: linear-gradient(rgba(244, 110, 94, 1), rgba(230, 41, 30, 1));
                border-color: rgba(231, 44, 33, 1);
            }
            &.important.active:before {
                border: 2px solid rgba(237, 79, 67, 1);
                box-shadow: 0 0 1px rgba(237, 79, 67, 1);
            }
            &.today {
                background: linear-gradient(rgba(255, 194, 84, 1), rgba(255, 137, 24, 1));
                border-color: rgba(255, 139, 28, 1);
            }
            &.today.active:before {
                border: 2px solid rgba(253, 175, 67, 1);
                box-shadow: 0 0 1px rgba(253, 175, 67, 1);
            }
            &.message {
                background: linear-gradient(rgba(129, 218, 114, 1), rgba(58, 178, 44, 1));
                border-color: rgba(60, 179, 47, 1);
            }
            &.message.active:before {
                border: 2px solid rgba(98, 206, 82, 1);
                box-shadow: 0 0 1px rgba(98, 206, 82, 1);
            }
            &.inspire {
                background: linear-gradient(rgba(187, 131, 230, 1), rgba(128, 58, 203, 1));
                border-color: rgba(128, 60, 203, 1);
            }
            &.inspire.active:before {
                border: 2px solid rgba(166, 104, 219, 1);
                box-shadow: 0 0 1px rgba(166, 104, 219, 1);
            }
            &.share {
                width: 0;
                height: 0;
                transform: rotateZ(45deg);
                border: 9px solid #fff;
                border-left-color: rgba(135, 172, 255, 1);
                border-bottom-color: rgba(135, 172, 255, 1);
                box-shadow: 0 0 0 4px #fff;
            }
            &.share:before{
                transform-origin: center;
                top: -13px;
                left: -13px;
                background: transparent;
            }
            &.share.active:before {
                border: 2px solid rgba(146, 146, 146, 1);
                box-shadow: 0 0 1px rgba(146, 146, 146, 1);
            }
        }
    }
    .todo-control {
        margin-top: 30px;
    }
    .content-header {
        display: flex;
        justify-content: space-between;
        line-height: 1;
        margin-bottom: 8px;
        .create-time {
            color: rgba(255, 255, 255, .5)
        }
        .icon-chevron-up {
            padding: 0 10px;
            cursor: pointer;
        }
    }
    .todo-content {
        line-height: 1.75;
        .content {
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            padding-bottom: 8px;
            caret-color: rgba(178, 178, 178, 1);
            outline: 0;
            [contentEditable="true"] {
                user-modify: read-write-plaintext-only;
                -webkit-user-modify: read-write-plaintext-only;
                -moz-user-modify: read-write-plaintext-only;
                &:focus {
                    outline: 0;
                }
            }
            textarea {
                color: #fff;
                width: 100%;
                height: auto;
                background: transparent;
                border: 0;
                outline: 0;
                overflow: visible;
                resize: none;
                word-break: break-all;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                    background: rgba(255, 255, 255, .1);
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba(255, 255, 255, .3);
                    border-radius: 2px;
                }
            }
        }
        .checked {
            textarea {
                text-decoration: line-through;
            }
        }
    }
    .other {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;

        > div {
            min-width: 32px;
            height: 32px;
            line-height: 30px;
            padding: 0 8px;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            white-space: nowrap;
            .attach-group, .remind {
                &:before {
                    content: '';
                    border-left: 1px solid rgba(0, 0, 0, .2);
                    margin-right: 15px;
                }
                margin-left: 15px;
            }
            .attach-group {
                display: inline-block;
                height: 30px;
            }
            .attach-item {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                border: 1px solid transparent;
                border-radius: 4px;
                line-height: 1;
                vertical-align: text-top;
                &:not(:last-of-type) {
                    margin-right: 10px;
                }
                img {
                    max-width: 20px;
                    max-height: 20px;
                }
                &.active {
                    border-color: rgba(255, 255, 255, .5);
                    background: rgba(0, 0, 0, .2);
                }
            }
            .icon {
                color: rgba(255, 255, 255, .5);
            }
        }
    }
}