.todo-wrap {
    margin: 15px;
}
.todo {
    transition: height .4s ease;
    display: flex;
    border-radius: 28px;
    color: #fff;
    position: relative;
    user-select: none;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 15px;
        height: 18px;
        width: calc(100% - 30px);
        border-radius: 9px;
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    }
    &.active:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -6px;
        left: -6px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border: 1px solid rgba(182, 182, 182, 1);
        border-radius: 32px;
        box-shadow: 0 0 10px rgba(182, 182, 182, 1);
    }

}
.todo-note {
    border: 1px solid rgba(85, 121, 226, 1);
    background: linear-gradient(rgba(105, 140, 231, 1), rgba(117, 153, 235, 1));
}
.todo-important {
    border: 1px solid rgba(238, 85, 85, 1);
    background: linear-gradient(rgba(241, 96, 96, 1), rgba(244, 117, 117, 1));
}
.todo-today {
    border: 1px solid rgba(247, 138, 62, 1);
    background: linear-gradient(rgba(248, 150, 73, 1), rgba(249, 169, 94, 1));
}
.todo-message {
    border: 1px solid rgba(91, 186, 75, 1);
    background: linear-gradient(rgba(84, 185, 67, 1), rgba(105, 199, 86, 1));
}
.todo-inspire {
    border: 1px solid rgba(146, 88, 205, 1);
    background: linear-gradient(rgba(159, 102, 212, 1), rgba(177, 124, 222, 1));
}
.todo-share {
    border: 1px solid rgba(146, 146, 146, 1);
    background: linear-gradient(rgba(159, 159, 159, 1), rgba(199, 199, 199, 1));
}
.todo-content {
    flex: 1;
    .content {
        font-size: 20px;
    }
    .checked {
        text-decoration-line: line-through;
    }
}
.todo-control {
    margin: 0 20px;

    .input-checkbox {
        display: none;
    }

    .icon-checkbox {
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #fff;
        background: transparent;
        vertical-align: middle;
        position: relative;
    }

    .input-checkbox ~ .icon-checkbox .icon-check {
        display: none;
    }

    .input-checkbox:checked ~ .icon-checkbox .icon-check {
        display: block;
        position: absolute;
        bottom: 0;
        left: 1px;
        color: #fff;
    }
}

.todo.todo-shrink {
    align-items: center;
    height: 56px;
    line-height: 56px;
    .todo-content {
        margin-right: 20px;
        overflow: hidden;
        .content {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .right-icon {
        margin-right: 20px;
    }
    .icon-paperclip {
        color: rgba(255, 255, 255, .5)
    }
    .icon-calendar-alt {
        height: 26px;
        line-height: 26px;
        border: 1px solid rgba(255, 255, 255, .5);
        border-radius: 4px;
        padding: 0 5px;
        .calendar-alt {
            margin-right: 10px;
        }
    }
}
