.app {
    display: flex;
    /*align-items: stretch;*/
    min-width: 1050px;

    .app-menu {
        width: 260px;
    }

    .app-cont {
        width: calc(100% - 260px);
        height: 100vh;
        position: relative;

        // main {
        //     height: calc(100vh - 130px);
        //     overflow-y: auto;
        // }
    }
}
