.app {
    display: flex;
    min-width: 1050px;
    /*align-items: stretch;*/
}

.app-menu {
    width: 260px;
}

.app-cont {
    width: calc(100% - 260px);
    height: 100vh;
    position: relative;

    main {
        height: calc(100vh - 130px);
        overflow-y: auto;
    }
}

.app-header {
    height: 50px;
    background: #f5f5f5;
}

.menu-list {
    margin-bottom: 20px;

    .list-title {
        padding: 20px;
        font-size: 1rem;
        color: #ccc;
        margin-bottom: 0;
        user-select: none;
    }

    .menu-item {
        padding: 15px 10px 15px 24px;
        display: flex;
        cursor: pointer;
        user-select: none;

        &.active {
            background: #ebebeb;
        }

        &:hover {
            background: #f3f3f3;
        }

        .nums {
            color: #ccc;
        }
    }

    .item-title {
        flex: 1;
    }

    .menu-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 19px;
        margin-right: 9px;
        font-size: 12px;
        color: #fff;
        position: relative;
        top: 2px;

        &::before {
            content: '';
            position: absolute;
            width: 28px;
            height: 28px;
            border: 1px solid #ddd;
            border-radius: 50%;
            top: -4px;
            left: -4px;
        }
    }

    .icon-folder {
        background: linear-gradient(rgba(141, 152, 179, 1), rgba(64, 75, 109, 1));
    }

    .icon-clipboard {
        background: linear-gradient(rgba(138, 174, 255, 1), rgba(76, 120, 255, 1));
    }

    .icon-exclamation {
        background: linear-gradient(rgba(240, 100, 89, 1), rgba(226, 45, 37, 1));
    }

    .icon-star {
        background: linear-gradient(rgba(255, 190, 85, 1), rgba(255, 130, 0, 1));
    }

    .icon-comment {
        background: linear-gradient(rgba(133, 220, 118, 1), rgba(57, 176, 42, 1));
    }

    .icon-lightbulb {
        background: linear-gradient(rgba(182, 129, 225, 1), rgba(124, 60, 196, 1));
    }

    .icon-star-half-alt {
        background: linear-gradient(rgba(166, 196, 255, 1), rgba(98, 136, 255, 1));
    }

    .icon-half {
        background: linear-gradient(rgba(166, 196, 255, 1), rgba(98, 136, 255, 1));

        &::after {
            content: '';
            position: absolute;
            border: 9px solid #fff;
            border-radius: 50%;
            right: 1px;
            top: 1px;
            border-left-color: transparent;
            border-top-color: transparent;
            transform: rotateZ(-45deg);
        }
    }

    &.list-other {
        .menu-icon {
            background: none;
            color: #ccc;
            font-size: 1.2em;

            &::before {
                content: none;
            }
        }
    }
}



.cont-header {
    display: flex;
}

.cont-header h2 {
    flex: 1;
    text-align: center;
}

.cont-footer {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    padding-left: calc(50% - 28px);
    height: 80px;
    line-height: 80px;
}

// .title {
//     flex: 1;
//     padding: 0 40px;
//     white-space: nowrap;
// }

.cont-todo {
    display: flex;
}

.app-cont .app-header {
    display: flex;
    align-items: center;
    background: #fff;

    .header-btn {
        padding: 0 15px;
    }

    .title {
        flex: 1;
        text-align: center;
        white-space: normal;
        text-overflow: ellipsis;
    }

    .h5 {
        margin-bottom: 0;
    }

    .btn {
        width: 48px;
    }

    i {
        color: #737373;
    }
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 2px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    // @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    // @include transition($btn-transition);

    &:focus,
    &.focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.5);
    }

    &:active {
        background: #ededed;
    }

    &.btn-round {
        width: 34px;
        height: 34px;
        padding: 0;
        line-height: 32px;
        text-align: center;
        border-radius: 50%;
        font-size: 14px;
    }

    &.btn-large {
        width: 56px;
        height: 56px;
        line-height: 54px;
        font-size: 28px;
    }

}

.cont-footer .icon-edit {
    color: #737373;
}

.cont-footer .btn-microphone {
    background: rgba(90, 134, 246, 1);
    border-color: rgba(90, 134, 246, 1);
    color: #fff;
    margin-right: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);

    &:active {
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    }

}